<%= link_to "Excel", expenses_path(format: "xls") %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Who For?</th>
      <th>Urgency</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= expense.treasurer.try(:name) %></td>
        <td><%= expense.urgency.try(:name) %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>

