<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Whofor:</strong>
  <%= @expense.whofor %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @expense.urgency %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user_id %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
